body {
  margin: 0;
  padding: 0;
  background: url(./img/fon.jpg) no-repeat ;
  overflow-x:hidden;
}

/* navbar css start */
.navbar {
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}
.Navbar__1 {
  display: flex;
  align-items: center;
}

.navbar__loco {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.navbar__text {
  padding-top: 20px;
  font-family: "Changa", sans-serif;
}
.navbar__text1 {
  padding-top: 20px;
  font-family: "Changa", sans-serif;
  color: rgb(255, 230, 0);
}

.navbar__buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  color: rgb(229, 229, 229);
}


.navbar__text2 {
 
  color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5865098237991333px;
  text-align: left;
}
.navbar__text2>a{
  text-decoration: none;
  color: white;
}
.navbar__text2>a:hover{
color: yellow;
transition: 1s;
}



/* navbar css end */

/*  */

.header__img {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  width: 420px;
  height: 500px;
  padding: 4px; 
  border-radius: 10%;
}


.header__info{
margin-top: -530px;
 margin-left: -130px;
}

.header__info_h2{
  font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 61px;
letter-spacing: 3.75px;
text-align: center;
  color: rgb(0, 0, 0);
}

.header__info_p{
  font-family: Montserrat;
font-size: 16px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.3840000033378601px;
text-align: center;
width: 300px;
margin-left: 600px;
padding: 20px;
border: 3px solid rgb(255, 230, 0);
}

/*  */

/* footer css start */
.footer__fon{
 background-color: #272B2E;
 display: flex;
 margin-top: 250px;
 justify-content: space-around;
 padding-top: 80px;
 padding-bottom: 80px;
}

.footer__h4{
  font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.8640000224113464px;
text-align: left;
color: rgb(255, 230, 0) ;
}


.footer__text{
  font-family: Montserrat;
font-size: 15px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

  color: white;
  cursor: pointer;
}
.footer__text:hover {
  
  margin-left: 10px;
  transition: 1s;

}
/* footer css end */

